html {
    background-color: pink;
}

p {
    color: slateblue;
}

#apple {
    color: red;
}

#orange {
    color: green;
}

.banana {
    color: yellow;
}

.spoiled {
    color: brown;
}

div {
    color: palevioletred;
}

div span {
    color: orange;
}

span {
    color: purple;
}